<div>
  <h2 mat-dialog-title>New Board</h2> 
  <form id="boardForm" name="boardForm" #boardForm="ngForm" (ngSubmit)="onSubmit(boardForm)" novalidate>
    <mat-dialog-content>
      <div *ngIf="validationErrors && validationErrors.length > 0" class="alert alert-danger">
        <div *ngFor="let error of validationErrors">
          <div><small>{{ error }}</small></div>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput id="boardName" name="boardName" placeholder="Board Name" type="text" class="form-control"
          [(ngModel)]="boardName" required appUniqueBoard>
        </mat-form-field>
      </div>      
    </mat-dialog-content>  
    <mat-dialog-actions>
      <button type="submit" mat-button class="btn btn-default confirm-action-btn">Create</button>
      <button mat-button mat-dialog-close class="btn btn-primary confirm-action-btn">Cancel</button>    
    </mat-dialog-actions>
  </form> 
</div>