#navigation-container {
    background: #FF9800;
    color: #FFFFFF;
    line-height: 50px;
}

#navigation-title {
    text-align:center;
}

#navigation-title > h3 {
    margin-top: 13px;
}

#navigation-login {
    text-align: right;
}

#navigation-login > img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

