<div class="col-md-4">
  <div class="card-container">
    <h4>{{ cardPool.name }}</h4>
    <ul class="list-unstyled">
      <li *ngFor="let card of cardPool.cards">
        <div class="row">
          <div class="col-md-9">{{ card.name }}</div>
          <div class="col-md-3" style="text-align:right">
            <a (click)="editCard()"><img src="assets/images/pencil.png" class="btn-image" /></a>
          </div>
        </div>
      </li>
    </ul>
    <br/>
    <div *ngIf="isAddMode;then add else read"></div>
    <ng-template #read>
      <div>
        <button class="btn btn-primary btn-action" (click)="addCard()">Add Card</button>
      </div>
    </ng-template>
    <ng-template #add>
      <div *ngIf="validationErrors && validationErrors.length > 0" class="alert alert-danger">
        <div *ngFor="let error of validationErrors">
          <div><small>{{ error }}</small></div>
        </div>
      </div>
      <div>
        <form id="cardForm" name="cardForm" #cardForm="ngForm" (ngSubmit)="submitAddCard(cardForm)" novalidate>
          <mat-form-field>
            <input matInput id="cardName" name="cardName" placeholder="Card Name" type="text" class="form-control"
              [(ngModel)]="cardName" required [appUniqueCard]="boardId" />
          </mat-form-field><br/>
          <button type="submit" class="btn btn-primary btn-action">Add</button>
          <button class="btn btn-default btn-action" (click)="cancelAddCard()">Cancel</button>
        </form>
      </div>
    </ng-template>
  </div>
</div>