.card-container {
    background: #EEEEEE;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.card-container .btn-image {
    width: 25px;
    height: 25px;
    cursor:pointer;
}

.card-container .btn-action {
    width: 100px;
}

.card-container input {
    width: 100%;
    background: #ffffff;
}